@font-face {
  font-family: "MiSansVF";
  src: url("https://xiaomisimulator.github.io/SimulatorAssets/fonts/MiSansVF.ttf")
    format("truetype");
}

iframe {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.start {
  font-family: "MiSansVF";
  height: 10%;
  width: 5%;
  font-weight: bold;
  font-size: 1em;
  display: none;
}

.start_box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
